@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --background: #000000;
    --background-alt: #161616;
    --accent-red: #fc2348;
    --accent-red-alt: #722834;
    --accent-blue-alt: #504391;
    --accent-blue: #6942f0;
    --text: #ffffff;
    --font-main: "Poppins", sans-serif;
    --font-code: "Fira Code", monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    margin: 0;
    margin-top: 4em;
}

main {
    display: flex;
    flex-direction: column;
    gap: 0;
    text-align: left;
    width: 60%;
    background-color: var(--background);
    font-size: larger;
    font-family: var(--font-main);
    color: var(--text);
    margin-bottom: 2em;
}

.accent-red {
    color: var(--accent-red);
}
.accent-red-alt {
    color: var(--accent-red-alt);
}
.accent-blue {
    color: var(--accent-blue);
}
.accent-blue-alt {
    color: var(--accent-blue-alt);
}

.pfp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    image-rendering: auto;
}


.container {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 8px;
}

.container-row {
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding: 8px;
}

.intro {
    gap: 0;
}

h2, h4 {
    margin: 0;
}
h4 {
    font-weight: 400;
}

.intro-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.75rem;
}

.pronouns {
    font-weight: 300;
    font-size: 0.75em;
    background-color: var(--background-alt);
    padding: 4px;
    border-radius: 4px;
    height: 1.25em;
}

.flag {
    width: 1.25em;
    height: 1.25em;
}
.flags-container {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
}

.link-handle {
    font-weight: 300;
}

li a {
    font-weight: 600;
}

a {
    color: unset;
    text-decoration: none;
    transition: color 0.25s;
}

a:hover {
    color: var(--text);
}

hr {
    width: 100%;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.underlined {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.bocchi {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    align-self: flex-start;
}

.bocchi-jobs {
    align-self: flex-end;
}
.smaller {
    font-size: smaller;
}
.buttons {
    gap: 4px;
    padding-left: 0;
}
textarea {
    resize: none;
    background-color: var(--background-alt);
    border: none;
    border-radius: 4px;
    font-family: var(--font-code);
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 400;
    color: var(--text);
    width: 45em;
    font-size: 14;
}
textarea::selection {
    background-color: var(--accent-red-alt);
}
textarea:focus {
    outline: none;
}
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;  /* Firefox */
}