html,
body {
/*    font-family: 'Comfortaa', bold; */
    font-family: 'Playfair Display', serif;
    background: RGB(10, 10, 10);
    color: RGB(200, 200, 200);
  }

.text-is-centered {
  text-align: center;
}

.image-is-centered {
  margin-left: auto;
  margin-right: auto;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

img {
  width: 128px;
  margin-top: -8%;
}

/* cool hue thing */

.faded {
    height: 40px;
    width: 100vw;
    background: hsl(355, 100%, 50%); /* Old browsers */
  }
    
  .faded.animated {
    -webkit-animation: filter-animation 8s infinite;
    animation: filter-animation 8s infinite;
  }
  
  @-webkit-keyframes filter-animation { 
    0% {
        -webkit-filter: hue-rotate(0deg);
      }
    10% {
        -webkit-filter: hue-rotate(36deg);
      }
    20% {
        -webkit-filter: hue-rotate(74deg);
      }
    30% {
        -webkit-filter: hue-rotate(108deg);
      }
    40% {
        -webkit-filter: hue-rotate(144deg);
      }
    50% {
        -webkit-filter: hue-rotate(180deg);
      }
    60% {
        -webkit-filter: hue-rotate(216deg);
      }
    70% {
        -webkit-filter: hue-rotate(252deg);
      }
    80% {
        -webkit-filter: hue-rotate(288deg);
      }
    90% {
        -webkit-filter: hue-rotate(324deg);
      }
    100% {
        -webkit-filter: hue-rotate(360deg);
      }

  }
  
  @keyframes filter-animation {
      0% {
        -webkit-filter: hue-rotate(0deg);
      }
      
      25% {
        -webkit-filter: hue-rotate(90deg);
      }
      
      50% {
        -webkit-filter: hue-rotate(180deg);
      }
  
      75% {
          -webkit-filter: hue-rotate(270deg);
        }
        
      100% {
          -webkit-filter: hue-rotate(360deg);
      }
    }

a {
  color: rgb(192, 57, 255)
}