.blogpost-entry-link {
    color: var(--text);
}
.blogpost-entry-tags, .blog-taglist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
    text-transform: uppercase;
}
.blogpost-entry-tags a, .blog-taglist a {
    font-family: var(--fonts-alt4);
}
.tag-counter span {
    font-family: var(--fonts-alt4);
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    .blog-taglist {
        justify-content: center;
    }
}