.blogpost {
    margin-top: 2em;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    max-width: 95%;
    align-self: center;
}

.blogpost-header-tags {
    text-transform: uppercase;
    display: flex;
    gap: 0.5em;
}
.blogpost-tag {
    font-family: var(--fonts-alt4);
}
.blogpost-text p img {
    max-width: 100%;
    height: auto;
    align-items: center;
}
.blogpost-text p:has(> img) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
sub {
    width: fit-content;
}
code {
    font-family: var(--font-code);
    font-size: 0.9em;
    color: var(--accent-green);
}
hr {
    color: var(--text);
}