.ffxiv-divplate {
    border-radius: 16px;
    width: 670px;
    padding: 1em;
    margin-bottom: 1em;
    display: grid;
    align-self: center;
}
.ffxiv-advplate {
    object-fit: none;
    object-position: 0 0;
    height: 420px;
    width: 100%;
    max-width: 670px;
    border-radius: 12px;
    justify-self: center;
}
.ffxiv-render {
    max-width: 264px;
    max-height: 360px;
    object-fit: fill;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 0.5em;
}
.ffxiv-infopanel div p{
    margin: 0;
}
.bold {
    font-weight: 700;
}
.classjob {
    display: flex;
    justify-content: center;
    padding: 0.25em 0.5em;
    margin: 0.25em 0em;
    gap: 0.25em;
    border-radius: 4px;
    background-color: var(--container-t1);
    font-family: var(--fonts-alt3);
}
/*
.classjob-dps {
    background-color: var(--accent-dps);
}
.classjob-healer {
    background-color: var(--accent-healer);
}
.classjob-tank {
    background-color: var(--accent-tank);
}
*/
.ffxiv-jobicon {
    padding-top: 2px;
    width: 1.25em;
    height: 1.25em;
}
.ffxiv-jobs {
    gap: 0.5em;
    row-gap: 0;
}
.classjob span {
    color: var(--text);
}

@media only screen and (max-width: 1023px) {
    .ffxiv-characterinfo {
        flex-direction: column;
    }
    .ffxiv-jobs {
        width: 100%;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 786px) {
    .ffxiv-divplate {
        width: auto;
        max-width: 670px;
    }
    .ffxiv-advplate {
        max-width: 452px;
    }
    .ffxiv-render {
        width: auto;
        height: auto;
    }
}

@media only screen and (max-width: 424px) {
    .ffxiv-render {
        align-self: center;
    }
}