@import "tailwindcss";


@font-face {
	font-family: 'Montiac';
	src: url('/fonts/Montiac-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montiac';
	src: url('/fonts/Montiac-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Montiac Mono';
	src: url('/fonts/Montiac-Mono.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montiac Mono';
	src: url('/fonts/Montiac-ItalicMono.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Montiac Semi Mono';
	src: url('/fonts/Montiac-SemiMono.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montiac Semi Mono';
	src: url('/fonts/Montiac-ItalicSemiMono.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}


@font-face {
	font-family: 'Valve Oracle';
	src: url('/fonts/valveoracle-thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Valve Oracle';
	src: url('/fonts/valveoracle-thinitalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Valve Oracle';
	src: url('/fonts/valveoracle-medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Valve Oracle';
	src: url('/fonts/valveoracle-mediumitalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Valve Oracle';
	src: url('/fonts/valveoracle-semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Valve Oracle';
	src: url('/fonts/valveoracle-semibolditalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Valve Pulp';
	src: url('/fonts/VALVEPulp-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}
*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
:root {
	--rsm-weight-fine: 100;
	--rsm-weight-light: 200;
	--rsm-weight-regular: 340;
	--rsm-weight-medium: 470;
	--rsm-weight-bold: 620;
	--rsm-weight-dark: 770;
	--rsm-weight-black: 900;
}
body {
    font-family: 'Valve Oracle', sans-serif;
    background-color: black;
    margin: 0;
    color: white;
	overflow-x: hidden;
}
.accent {
    color: #BE1931;
    font-weight: 500;
}
.accent-green {
	color: #6ae79a;
    font-weight: 500;
}
.pulp {
	font-family: 'Valve Pulp', sans-serif;
	font-weight: 700;
}
.montiac-mono {
	font-family: 'Montiac Mono', monospace;
}
.montiac-semi-mono {
	font-family: 'Montiac Semi Mono', monospace;
}
.montiac {
	font-family: 'Montiac', sans-serif;
}
.bg-texture {
	background-image: url('/resources/bg_texture.jpg');
	background-size: cover;
}
.bg-texture-dark {
	background-image: url('/resources/bg_texture_dark.jpg');
	background-size: cover;
}
.bg-texture-darkest {
	background-image: url('/resources/bg_texture_darkest.jpg');
	background-size: cover;
}

.block {
	margin: 1rem;
	border-radius: 8px;
	border: 1px solid #BE1931;
	padding: 1rem;
}
.scratch-mask-bottom {
	background-image: url('/resources/scratch_mask_bottom.png');
	background-position: center bottom;
	height: 50px;
	width: 100%;
	z-index: 10;
    position: relative;
    background-size: auto 100%;
}
.scratch-mask-top {
	background-image: url('/resources/scratch_mask_top.png');
	background-position: center top;
	height: 50px;
	width: 100%;
	z-index: 10;
    position: relative;
    background-size: auto 100%;
}

.scratch-mask-top-dark {
	background-image: url('/resources/scratch_mask_top_dark.png');
	background-position: center top;
	height: 50px;
	width: 100%;
	z-index: 10;
    position: relative;
    background-size: auto 100%;
}