.project-name a, .project-name h1 {
    color: var(--text);
    word-wrap: break-word;
    text-decoration: none;
    text-decoration-color: transparent;
    overflow-wrap: anywhere;
}
.project-name a:hover {
    text-decoration: underline;
    transition: text-decoration 0.25s;
}
/*
.project-desc {
    font-family: var(--font-satoshi);
    font-weight: 500;
    font-size: large;
}
*/