---
import { Image } from "astro:assets";
import BaseLayout from "../components/BaseLayout.astro";
const notFound = "/resources/NotFound.png"
// Embed information
const pageTitle = "ame / 404"
const description = "buh"
---

<BaseLayout pageTitle={pageTitle}>
    <div class="flexcol">
        <img src={notFound} alt="404 Not Found" />
    </div>
    <div class="container">
        <h2>Oops!</h2>
        <p class="lastp">The page you're looking for could not be found.</p>
    </div>
</BaseLayout>