---
import Base from "../layouts/Base.astro";
---

<Base>
    <div class="block font-light text-2xl noborder">
        <h1 class="font-bold text-2xl md:text-3xl text-fancy pulp">about buh</h1>
        <p>I'm currently studying computer science at the <span class="italic accent">Maria Curie-Skłodowska University</span> in Lublin.</p>
        <p>I have a bit of an interest in art as well as design, most of which I express here on my website!</p>
        <p class="italic opacity-80">Though, I am a little bit lazy, so I don't draw too often...</p>
        <br>
        <p>I enjoy web design a lot and have experience making websites not just for myself, but for others as well.</p>
        <p>You can see a non-exhaustive list of my work on my <a href="/projects" class="accent-green">projects</a> page.</p>
        <br>
        <p>I also have a few not-so-useful IT certificates <span class="italic opacity-80">(INF.02, INF.03 and two Cisco CCNA certs)</span> as well as hands-on experience in IT admin work.</p>
        <p class="italic opacity-80">Even though most of my experience is in web development, I'd like to work as a software engineer someday!</p>
    </div>
    <div class="block font-light text-2xl noborder">
        <h1 class="font-bold text-2xl md:text-3xl text-fancy pulp">buhterests</h1>
        <p>I really like making stuff with my computer. Whether it's websites like this or my old cringy meme montages I made with a pirated copy of Sony Vegas Pro. I even dabbled in music as a kid, though that didn't really go anywhere.</p>
        <br>
        <p>I spend a lot of my free time playing games, I'm a huge fan of movement shooters specifically. Lately, I've been trying to make it some of the bigger singleplayer franchises that I missed out on, my most recent completion being the Metal Gear Solid series.</p>
        <br>
        <p>I also spend a bunch of time on Final Fantasy XIV Online, you can see more about my character <a href="/ffxiv" class="accent-green">here</a>.</p>
    </div>
</Base>