---
import BloodLayout from "../components/BloodLayout.astro"
import BaseLayout from "../components/BloodLayout.astro"
// Embed information
const pageTitle = "bloodppuccin"
const description = "a red-ish personal mod of catppuccin"
---
<BloodLayout pageTitle={pageTitle}>
    <div class="">
        <h2>😼 bloodppuccin</h2>
        <p>a dark, pastel-ish theme based on <span class="accent">catppuccin</span>.</p>
        <p>it's mostly meant for my personal use, so feel free to do whatever with it. supports both light and dark themes.</p>
    </div>
    <div class="container mantle">
        <h2>available themes</h2>
        <ul>
            <li>none lol</li>
        </ul>
    </div>
    <div class="container mantle">
        <h2>planned themes</h2>
        <ul>
            <li>vscode</li>
            <li>steam (adwaita skin)</li>
            <li>warp terminal</li>
            <li>we'll see</li>
        </ul>
    </div>
</BloodLayout>