---
import Base from "../layouts/Base.astro";
import Block from "../components/Block.astro";
---

<Base
    title = "buh / credits"
    description = "everything that went into making my website"
>
    <Block class="font-light lg:text-2xl noborder">
        <h1 class="font-bold text-2xl md:text-3xl text-fancy">Credits</h1>

        <p>Fonts used: Valve PULP, Valve Oracle from Deadlock</p>
        <p>Thanks to the people working on <a href="https://drive.google.com/drive/folders/1bz9JynTfk9gdFK1xxfUCUq37gPapjY_M" class="accent-green">Deadlock Graphical Library</a></p>
        <p>88x31, pixelart decorations by me</p>
        <p>FFXIV Job icons from <a href="https://github.com/xivapi/classjob-icons" target="_blank" class="accent-green">xivapi/classjob-icons</a></p>
        <p>Icon pack: <a href="https://lucide.dev/" target="_blank" class="accent-green">Lucide</a>, <a href="https://simpleicons.org" target="_blank" class="accent-green">Simple Icons</a></p>
        <p>Discord status powered by <a href="https://lanyard.eggsy.xyz/" target="_blank" class="accent-green">Lanyard</a></p>
    </Block>

</Base>