---
import LayoutBase from "../components/LayoutBase.astro";
import Project from "../components/Project.astro";
import Container from "../components/Container.astro";
import ContSection from "../components/ContSection.astro";
import '../styles/portfolio.css';
import ContTitle from "../components/ContTitle.astro";
const github = "https://github.com/amemoia"
const pageTitle = "ame / portfolio"
const description = "buh"
---
<LayoutBase pageTitle={pageTitle}>
    <Project
        name="buh.moe (current)"
        date="August 2025"
        tags="HTML, CSS, JS, Astro"
        link="https://buh.moe/"
        description="This includes the ZZZ and Deadlock designs I made for my site. While redesigning, I ironed out a bunch of issues under the hood to make adjusting the pages easier. I have a blogpost about my ZZZ design if you're interested."
    />
    <Project
        name="cheetoApp"
        date="December 2024"
        tags="Python, Discord, pycord"
        link="https://github.com/amemoia/cheetoApp"
        description="On hold as I don't currently need a custom bot, but it was a nice way to dust off my Python knowledge. I'm likely going to finish it later down the line."
    />
    <Project
        name="buh.moe v1"
        date="August 2024"
        tags="HTML, CSS, JS, Astro"
        link="https://buh.moe/"
        description="This was my first time working with Astro and it's pretty fun to use. Game-related pages have neat little touches specific to their series, which I'm quite proud of."
    />
    <Project
        name="amemoia.nekoweb.org"
        date="January 2024"
        tags="HTML, CSS, JS"
        link="https://amemoia.nekoweb.org/"
        description="A website modeled after Needy Streamer Overload's UI, trying to be as faithful to the game as possible. I mostly consider this abandoned as it was a pain to work with. Still available to view on my Nekoweb."
    />
    <Project
        name="Aigis, AtroxColors, EmoteListBot"
        date="June 2020"
        tags="Python, discord.py"
        link="https://github.com/amemoia/EmoteListBot"
        description="A series of Discord bots I worked on in the past. Aigis is the final* name and rewrite for the main codebase I used. The rest are basically Aigis code bundled in a smaller package for more specific use cases."
    />
    <Container title="UHHHHHH I FORGOR">
        <ContTitle>
            <h1>Other</h1>
        </ContTitle>
        <ContSection tier={3}>
            <span>If you have any work I could do, I'd appreciate a DM!</span>
        </ContSection>
        <ContSection>
            <p>You can see things I've worked on that aren't worth listing here on my <a href={github} target="_blank">GitHub</a>.</p>
            <p>Apart from the above, here's some other stuff I messed around in before:</p>
            <ContSection>
                <ul style="list-style: none;">
                    <li><span class="accent-blue">Video Editing</span> (After Effects, VEGAS Pro)</li>
                    <li><span class="accent-blue">Image Editing and Logo Design</span> (Photoshop, Paint.NET)</li>
                    <li><span class="accent-orange">Source Engine modding</span> (TF2 mods I'm not proud of)</li>
                    <li><span class="accent-green">Mapping in Hammer</span> (simple CS:GO maps)</li>
                </ul>
            </ContSection>
            <p>I'm still learning new things at university. Here's a full list of technologies I know and use in my projects:</p>
            <ContSection>
                <div class="flex row" style="gap: 2em;">
                    <ul style="list-style: none;">
                        <li class="accent-purple">C++</li>
                        <li class="accent-purple">Java</li>
                        <li class="accent-purple">Python</li>

                    </ul>
                    <ul style="list-style: none;">
                        <li class="accent-blue">MySQL</li>
                        <li class="accent-blue">T-SQL</li>
                        <li class="accent-blue">SQL*Plus</li>
                    </ul>
                    <ul style="list-style: none;">
                        <li class="accent-green">Astro</li>
                        <li class="accent-green">HTML</li>
                        <li class="accent-green">JavaScript</li>
                        <li class="accent-green">CSS</li>
                        <li class="accent-green">PHP</li>
                    </ul>
                </div>
            </ContSection>
        </ContSection>
    </Container>
</LayoutBase>