---
import BaseLayout from "../components/BaseLayout.astro"
import ProjectLayout from "../components/ProjectLayout.astro"
const pageTitle = "ame / portfolio"
const github = "https://github.com/amemoia"
import interesting from "../img/sites/interesting.png"
import { Image } from "astro:assets"
---
<BaseLayout pageTitle={pageTitle}>
    <ProjectLayout
        name="cheetoApp"
        date="Still WIP"
        tags="Python, Discord, pycord"
        link="https://github.com/amemoia/cheetoApp"
        description="Born from just an idea to add a starboard to a personal server I'm in, this is basically the final rewrite of the bots I listed below. This time it's actually necessary as discord.py is outdated. After reimplementing all my old features, I plan to work with multiple different APIs to add statistics for games I like. I'm mostly gonna use this to mess around with friends in our private server but the code will be available publicly should anyone want to use it."
    />
    <ProjectLayout
        name="buh.moe"
        date="August 2024"
        tags="HTML, CSS, JS, Astro"
        link="https://buh.moe/"
        description="Out of all the websites I made, this is probably my favorite design. Working with Astro makes things actually fun and I keep adding things here whenever I feel like. I even have a blog, but admittedly I'm not all that satisfied with the implementation and writing posts is a bit of a pain. One of my favorite features of this website are my game progress pages, which have little touches here and there to fit the theme of the game or present information in an interesting way."
    />
    <ProjectLayout
        name="amemoia.nekoweb.org"
        date="January 2024"
        tags="HTML, CSS, JS"
        link="https://amemoia.nekoweb.org/"
        description="I really like Needy Streamer Overload and it's UI. I wanted a pixel-perfect recreation of that style for my website, which admittedly involved a lot of hacky workarounds. It was a bit meh to work with, so I ended up abandoning this design for the website you see today. This old version is still available on my Nekoweb."
    />
    <ProjectLayout
        name="YeetBot/Aigis, AtroxColors, EmoteListBot"
        date="June 2020"
        tags="Python, discord.py"
        link="https://github.com/amemoia/EmoteListBot"
        description="A series of Discord bots I worked on in the past. The main codebase recieved multiple major rewrites, with the last one being called Aigis. The modular nature of these bots allowed me to bundle them in smaller packages for more specialized use in certain servers I was in. AtroxColors managed the color roles in a community server, while EmoteListBot was used by me to automatically generate a list of emotes in my private emote servers because I'm lazy. Not all of these repositories are public and I'll probably keep it that way."
    />
	<div class="container">
		<h2>Other</h2>
        <p>You can see things I've worked on that aren't worth listing here on my <a href={github} target="_blank">GitHub</a>.</p>
		<p>Apart from the above, here's some other stuff I messed around in before:</p>
        <div class="flexcol portfolio-tags">
            <p><span class="accent">Video Editing</span> (After Effects, VEGAS Pro)</p>
            <p><span class="accent">Image Editing and Logo Design</span> (Photoshop, Paint.NET)</p>
        </div>
        <Image class="portfolio-interesting" src={interesting} alt="A discord screenshot showing the following. amemoia: guys what do i put on my portfolio? archie: Faggot"/>
	</div>
</BaseLayout>
