---
import "../styles/global.css"
import NavHeader from "../components/NavHeader.astro"
import ParseTwemoji from "../components/ParseTwemoji.astro"
import Footer from "../components/Footer.astro"
import { ViewTransitions } from "astro:transitions"
const { pageTitle } = Astro.props;
import Analytics from '@vercel/analytics/astro'
import  SpeedInsights  from "@vercel/speed-insights/astro"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
		<script src="https://kit.fontawesome.com/abd3ad257b.js" crossorigin="anonymous"></script>
        <link
            rel="alternate"
            type="application/rss+xml"
            title="amemoia's blog"
            href={new URL("rss.xml", Astro.site)}
        />
		<title>{pageTitle}</title>
		<Analytics />
		<SpeedInsights />
	</head>
	<body>
		<NavHeader />
        <slot />
		<Footer />
	</body>
	<ParseTwemoji />
</html>
