---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
const d = new Date(frontmatter.pubDate)
const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
const mon = months[d.getMonth()];
const day = d.getDate()
const yr = d.getFullYear();
---
<BaseLayout pageTitle={frontmatter.title}>
    <div class="container blogPostContainer">
        <div class="blogPostHeader flexcol">
            <h1 class="blogPostTitle">{frontmatter.title}</h1>
            <p class="blogPostDescription">{frontmatter.description}</p>
            <div class="blogPostTags flexrow">
                <p class="blogPostDate"><i class="fa-solid fa-calendar-days"></i> {mon + " " + day + ", " + yr}</p>
                <script is:inline define:vars={{frontmatter}}>
                    const hashtagHTML = '<i class="fa-solid fa-hashtag"></i>';
                    const tagDiv = document.getElementsByClassName('blogPostTags')[0];
                    const tags = frontmatter.tags;
                    tags.forEach(tag => {
                        const tagLink = document.createElement('a');
                        tagLink.href = "/tags/"+tag
                        const tagSpan = document.createElement('span');
                        tagSpan.innerHTML = hashtagHTML + "" + tag
                        tagSpan.classList.add('accent')
                        tagLink.appendChild(tagSpan)
                        tagDiv.appendChild(tagLink)
                    });
                </script>
            </div>
        </div>
        <div class="blogPostContent">
            <slot />
        </div>
    </div>
    
</BaseLayout>