---
const { id, title, description, date, tags } = Astro.props;
const url = `/blog/${id}/`
const d = new Date(date)
const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
const mon = months[d.getMonth()];
const day = d.getDate()
const yr = d.getFullYear();
const uniqueClass = "blogPostTags-"+id
import Container from "./Container.astro";
import ContSection from "./ContSection.astro";
---
<ContSection args="blogpost-entry-container">
    <a href={url} target="_blank" class="blogpost-entry-link"><h3 class="blogpost-entry-title">{title}</h3></a>
    <p class="blogpost-entry-description">{description}</p>
    <p class="blogpost-entry-date"><i class="fa-solid fa-calendar-days accent"></i> {mon + " " + day + ", " + yr}</p>
    <div class={uniqueClass+ " blogpost-entry-tags"}>
        <script is:inline define:vars={{tags , uniqueClass}}>
            const hashtagHTML = '<i class="fa-solid fa-hashtag accent"></i>';
            const tagDiv = document.getElementsByClassName(uniqueClass)[0];
            tags.forEach(tag => {
                const tagLink = document.createElement('a');
                tagLink.href = "/tags/"+tag
                const tagSpan = document.createElement('span');
                tagSpan.innerHTML = hashtagHTML + "" + tag
                tagLink.appendChild(tagSpan)
                tagLink.classList.add('accent-none')
                tagDiv.appendChild(tagLink)
            });
        </script>
    </div>
</ContSection>
