---
const { id, title, description, date, tags } = Astro.props;
const url = `/blog/${id}/`
const d = new Date(date)
const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
const mon = months[d.getMonth()];
const day = d.getDate()
const yr = d.getFullYear();
const uniqueClass = "blogPostTags-"+id
import Container from "./Container.astro";
import ContSection from "./ContSection.astro";
import ContTitle from "./ContTitle.astro";
---
<Container args="blogpost-entry-container container-color-gray">
    <ContTitle args="no-halftone-override">
        <a href={url} target="_blank" class="blogpost-entry-link"><h2 class="blogpost-entry-title">{title}</h2></a>
    </ContTitle>
    <ContSection args={uniqueClass+ " blogpost-entry-tags"} tier={3}>
        <script is:inline define:vars={{tags , uniqueClass}}>
            const hashtagHTML = '<i class="fa-solid fa-hashtag accent-red"></i>';
            const tagDiv = document.getElementsByClassName(uniqueClass)[0];
            tags.forEach(tag => {
                const tagLink = document.createElement('a');
                tagLink.href = "/tags/"+tag
                const tagSpan = document.createElement('span');
                tagSpan.innerHTML = hashtagHTML + "" + tag
                tagLink.appendChild(tagSpan)
                tagLink.classList.add('accent-none')
                tagDiv.appendChild(tagLink)
            });
        </script>
    </ContSection>
    <ContSection >
        <p class="blogpost-entry-description">{description}</p>
        <p class="blogpost-entry-date"><i class="fa-solid fa-calendar-days accent-green"></i> {mon + " " + day + ", " + yr}</p>
    </ContSection>
</Container>
