---
let { tier, args } = Astro.props;
if (tier == null) tier = 1;
else if (tier > 3) tier = 3;
if (args == null) args = "";
else args = " "+args;
const classes = "container-section container-section-t"+tier+args;
---

<div class={classes}>
    <slot/>
</div>