---
const kofi = "https://ko-fi.com/amemoia"
const repo = "https://github.com/amemoia/amemoia.github.io/"
const rss = "./rss.xml"
---
<footer>
    <a href={rss} target="_blank">
        <i class="fa-solid fa-rss"></i>
        RSS Feed
    </a>
    <a href={repo} target="_blank">
        <i class="fa-solid fa-code-branch"></i>
        Source code
    </a>
    <a href={kofi} target="_blank">
        <i class="fa-solid fa-heart"></i>
        Support me
    </a>
</footer>