---
const kofi = "https://ko-fi.com/amemoia"
const repo = "https://github.com/amemoia/amemoia.github.io/"
const rss = "./rss.xml"
---
<hr>
<footer class="flexcol">
    <div class="flexrow">
        <a href={repo} target="_blank">
            <i class="fa-solid fa-code-branch"></i>
            Source code
        </a>
        <a href={rss} target="_blank">
            <i class="fa-solid fa-rss"></i>
            RSS Feed
        </a>
        <a href={kofi} target="_blank">
            <i class="fa-solid fa-heart"></i>
            Support me
        </a>
    </div>
</footer>