---
// Usage: <88x31 link="" image="" alt="" />
const { link, image, alt } = Astro.props;
import { Image } from "astro:assets"
---
<a href={link} target="_blank"><Image src={image} width="88" height="31" alt={alt} /></a>
