---
import "../styles/main.css"
import NavHeader from "../components/NavHeader.astro"
import Footer from "../components/Footer.astro"
import ParseTwemoji from "../components/ParseTwemoji.astro"
import Analytics from '@vercel/analytics/astro'
import  SpeedInsights  from "@vercel/speed-insights/astro"
const embedImage = "https://buh.moe/resources/embed-avi.png"
const { pageTitle, description } = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
        <!-- Embed information -->
		<meta property="description" content="amemoia's website" />
		<meta property="og:title" content={pageTitle}>
		<meta property="og:description" content="my silly little website" />
		<meta property="og:image" content={embedImage}>
		<meta property="og:site_name" content="buh.moe">
		<meta property="og:url" content="https://buh.moe/">
		<meta content="#e12340" data-react-helmet="true" name="theme-color" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <!-- Font preloading eliminates lag on load -->
        <link rel="preload" href="/fonts/font_zzz.ttf" as="font" type="font/woff2" crossorigin>
        <!-- RSS feed -->
        <link
            rel="alternate"
            type="application/rss+xml"
            title="amemoia's blog"
            href={new URL("rss.xml", Astro.site)}
        />
		<title>{pageTitle}</title>
        <!-- FontAwesome Icons for links -->
        <script src="https://kit.fontawesome.com/abd3ad257b.js" crossorigin="anonymous"></script>
        <Analytics />
        <SpeedInsights />
    </head>
    <body>
        <div class="main">
            <NavHeader />
            <slot />
        </div>
    </body> 
    <ParseTwemoji />
</html>