---
import ContSection from "./ContSection.astro";
import LayoutBase from "./LayoutBase.astro";

const { frontmatter } = Astro.props;
const d = new Date(frontmatter.pubDate)
const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
const mon = months[d.getMonth()];
const day = d.getDate()
const yr = d.getFullYear();
import '../styles/blogpost.css'
---
<LayoutBase pageTitle={frontmatter.title}>
    <div class="blogpost">
        <div class="blogpost-header">
            <h1 class="blogpost-header-title">{frontmatter.title}</h1>
            <p class="blogpost-header-desc">{frontmatter.description}</p>
            <p class="blogpost-header-date"><i class="fa-solid fa-calendar-days accent-green"></i> {mon + " " + day + ", " + yr}</p>
            <div class="blogpost-header-tags">
                <script is:inline define:vars={{frontmatter}}>
                    const hashtagHTML = '<i class="fa-solid fa-hashtag accent-red"></i>';
                    const tagDiv = document.getElementsByClassName('blogpost-header-tags')[0];
                    const tags = frontmatter.tags;
                    tags.forEach(tag => {
                        const tagLink = document.createElement('a');
                        tagLink.href = "/tags/"+tag
                        const tagSpan = document.createElement('span');
                        tagSpan.innerHTML = hashtagHTML + "" + tag
                        tagLink.classList.add('blogpost-tag')
                        tagLink.classList.add('accent-none')
                        tagLink.appendChild(tagSpan)
                        tagDiv.appendChild(tagLink)
                    });
                </script>
            </div>
        </div>
        <div class="blogpost-text">
            <slot />
        </div>
    </div>
</LayoutBase>