---
import { Image } from "astro:assets"
import pfp from "../img/sites/avatar old.png"
---
<div class="flex col" style="gap: 1em;">
    <div class="flex col nav-profile">
        <Image
            class="pfp"
            src={pfp}
            alt="Audrey by MrPilo28"
            loading="eager"
            />
        <div class="flex col">
            <span class="nav-display">AMEMOIA</span>
        </div>
    </div>
    <div class="flex row nav-links">

        <a href="/" class="nav-links-first">Home</a>
        <a href="/blog">Blog</a>
        <a href="/specs">Specs</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/ffxiv">FFXIV</a>
        <a href="/yakuza">Yakuza</a>
        <script is:inline src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script is:inline>
            $(function(){
                var index = 1;
                $('a').each(function(){
                    if ($(this).parent().hasClass('nav-links')) {
                        if ($(this).prop('href') == window.location.href) {
                            $(this).addClass('nav-active');
                        }
                        else {
                            $(this).addClass('nav-inactive');
                        }
                        index++;
                    }
                });
            });
        </script>
    </div>
</div>
