---
const { link,  icon, label, account } = Astro.props;
const classes = "accent-blue fa-brands fa-"+icon;
---
<a href={link} class="accent-white hover-blue" target="_blank">
    <div><i class={classes}></i>{label}</div>
    <span class="text-adjust-soft"> {account}</span>
</a>