---
const { icon: IconComponent, name, handle, url, color } = Astro.props;

---
<a class="social-button" href={url} target="_blank" rel="noopener noreferrer">
    <div class="social-info items-center">
        <span
            class="social-site shadow-lg items-center font-semibold flex flex-row gap-2"
              data-social-site
              style={`background-color: ${color}; --social-skew: -10deg;`}
        >
            <span>
                {IconComponent && <IconComponent class="social-icon" />}
            </span>
            <span>
                {name} 
            </span>
        </span>
        <span class="social-handle">{handle}</span>
    </div>
</a>

<style>
    .social-button {
        padding: 1rem;
        text-decoration: none;
    }

    .social-icon {
        width: 1.5rem;
        height: 1.5rem;
        color: white;
    }

    .social-info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        transition: transform 0.2s ease;
    }

    .social-handle {
        opacity: 0.75;
        transition: opacity 0.2s ease;
    }

    .social-site {
        padding: 0.5rem 1rem;
        border-radius: 8px;
    }

    .social-button:hover {
        .social-handle {
            opacity: 1;
        }
    }
</style>