---
const { title, class: className } = Astro.props;
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Embed -->
	</head>

	<body>
		<Header />
		<main class={className}>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<script>
	import twemoji from 'twemoji';
	document.addEventListener('DOMContentLoaded', () => {
		twemoji.parse(document.body, {
			folder: 'svg',
			ext: '.svg'
		});
	});
</script>